header {
    background-color: #FC766AFF;
    position: sticky; 
    top: 0px;
    font-family: 'Montserrat', sans-serif;
    z-index: 300;
}

body {
    background-color: #5B84B1FF;
}

.jumbotron {
    background-color: #5B84B1FF;
}

.nav-link active {
    background-color: #5B84B1FF;
}

main div h1 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 20px;
    margin-top: -40px;
}

#index-right {
    text-align: right;;
}

.card-body {
    text-align: ;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(164, 186, 209);
    font-size: 18px;
}

.card-text {
    background-color: rgb(164, 186, 209);
}

.card-title {
    background-color: rgb(164, 186, 209);
}

#card1 {
    border:none;
    float: right;
    text-align: center;
    background-color: #5B84B1FF;
}

#card2 {
    border: none;
}
#card2-body {
    font-size: 15px;
}

h5 {
    font-weight: bold;
    text-align: center;
}


footer {
    background-color: #FC766AFF;
    font-family: 'Montserrat', sans-serif;
    z-index: 300;
    bottom: 0;
    left: 0;
    width: 100%;
    position: sticky;
    padding-top: 5px;
    
}

.footerTitle {
    font-weight: bold;
}

#cardtext {
    background-color: #5B84B1FF;
}

#cardbody {
    background-color: #5B84B1FF;
}

#cardtitle {
    background-color: #5B84B1FF;
}
