header {
    background-color: #FC766AFF;
}

body {
    background-color: #5B84B1FF;
}

.jumbotron {
    background-color: #5B84B1FF;
}

h1 {
    text-align: center;
}

#left-side {
    float: right;
}

main div h1 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 20px;
    margin-top: -40px;
}
