/* Header styling, positiong and z-index(stacks on top of other content) */
header {
    background-color: #FC766AFF;
    position: sticky; 
    top: 0px;
    font-family: 'Montserrat', sans-serif;
    z-index: 300;
}
/* Body background color */
body {
    background-color: #5B84B1FF;
}
/* Jumbotron background color  */
.jumbotron {
    background-color: #5B84B1FF;
}
/* Changed the color of the active nav-pill background */
a.nav-link.active {
    background-color:  rgb(164, 186, 209) !important;
    color: #212529 !important;
}
/* Changed the link text color */
a.nav-link {
    color: #212529;
}
/* Styling and positioning for the headers */
main div h1 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 20px;
    margin-top: -40px;
}
/* Styling, and background color for the about me card */
.card-body {
    font-family: 'Montserrat', sans-serif;
    background-color: #5B84B1FF;
    font-size: 20px;
}
/* Background color for the card-text section */
.card-text {
    background-color: #5B84B1FF;
}
/* Background color for the card-title section */
.card-title {
    background-color:#5B84B1FF;
}
/* Aligned the card containing my picture and text, to the right. Also aligned it to the right, aligned text to the center and removed the border.  */
#card1 {
    border:none;
    float: right;
    text-align: center;
    background-color: #5B84B1FF;
}
/* Removed the border from about me card */
#card2 {
    border: none;
    width: 100%;
}
/* Font styling for my 2 H5 headers */
h5 {
    font-weight: bold;
    text-align: center;
}

/* Styling, Z-index, and positioning for my footer */
footer {
    background-color: #FC766AFF;
    font-family: 'Montserrat', sans-serif;
    z-index: 300;
    bottom: 0;
    left: 0;
    width: 100%;
    position: fixed;
    padding-top: 10px;
    max-height: 40px;
    padding-bottom: 0px;
    
}

/* Background coloring for text section underneath the picture */
#cardtext {
    background-color: #5B84B1FF;
}

#cardbody {
    background-color: #5B84B1FF;
}

#cardtitle {
    background-color: #5B84B1FF;
}
/* Styling for the text inside my list elements */
main p {
    padding: .5em;
    line-height: 25px;
    font-size: 18px;
}

