/* Header styling, positiong and z-index(stacks on top of other content) */
header {
    background-color: #FC766AFF;
    position: sticky; 
    top: 0px;
    font-family: 'Montserrat', sans-serif;
    z-index: 300;
}

/* Body background color */
body {
    background-color: #5B84B1FF;
}

/* Jumbotron background color  */
.jumbotron {
    background-color: #5B84B1FF;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin: auto;
    margin-bottom: -60px;
}

/* Pushed left side images to the right side of container */
#left-side {
    float: right;
}
#leftimg {
    float:right;
}

/* Aligned header to center, and styling for it */
main div h1 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 20px;
    margin-top: -40px;
}

/* Styling, Z-index, and positioning for my footer */
footer {
    background-color: #FC766AFF;
    font-family: 'Montserrat', sans-serif;
    z-index: 300;
    width: 100%;
    bottom: 0;
    position: sticky;
    padding-top: 10px;
    margin-top: 40px;
    height: 40px;
    padding-bottom: 0px;
}


/* Changed the color of the active nav-pill background */
a.nav-link.active {
    background-color:  rgb(164, 186, 209) !important;
    color: #212529 !important;
}
/* Changed the link text color */
a.nav-link {
    color: #212529;
}