header {
    background-color: #FC766AFF;
    position: sticky; 
    top: 0px;
    font-family: 'Montserrat', sans-serif;
    z-index: 300;
}

body {
    background-color: #5B84B1FF;
}

.jumbotron {
    background-color: #5B84B1FF;
}

h1 {
    text-align: center;
}

#left-side {
    float: right;
}

main div h1 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 20px;
    margin-top: -40px;
}

footer {
    background-color: #FC766AFF;
    font-family: 'Montserrat', sans-serif;
    z-index: 300;
    bottom: 0;
    position: sticky;
    padding-top: 5px;
}

#leftimg {
    float: right;
    clear: right;
}