header {
    background-color: #FC766AFF;
    position: sticky; 
    top: 0px;
    font-family: 'Montserrat', sans-serif;
    z-index: 300;
}

body {
    background-color: #5B84B1FF;
}

.jumbotron {
    background-color: #5B84B1FF;
}

form {
    margin-top: 50px;
}

.container {
    font-family: 'Montserrat', sans-serif;
}

footer {
    background-color: #FC766AFF;
    font-family: 'Montserrat', sans-serif;
    z-index: 300;
    bottom: 0;
    width: 100%;
    position: absolute;
    padding-top: 20px;
    max-height: 40px;
    padding-bottom: 40px;
    
}

